.header {
    
    &__menu {
        display: flex;
    }

    &__logo {
        width: 3rem;
        height: 3rem;
    }
}

.navigation {
    &__list {
    }

    &__item {
    }

    &__link {
    }
}
