.header {
    
    &__menu {
        display: flex;
       align-items: center;
       justify-content: space-between;
       margin-bottom: 20px;
    }

    &__logo {
        
    }
}

.navigation {
    &__list {
        display: flex;
    }

    &__item {
    }

    &__link {
    }
}
