.header {
    background: $bg-dark;
    z-index: 10;
    &__menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 0;
    }

    &__logo {
        width: 10rem;
        height: 5rem;
    }
}


.navigation {

    &__item {
        position: relative;
        display: inline-block;
        transition: .15s;
        &:hover{
            transform: scale(1.08);
        }
        &:not(:last-child) {
            margin-right: 5rem;
            @media (max-width: $md3) {
                margin-right: 4rem;
            }
            @media (max-width: $md2) {
                margin-right: 3rem;
            }
        }
    }

    &__link {
        font-family: 'fractal';
        font-size: 1.6rem;
        color: $sec-text;
        transition: .15s;

        &:hover{
            transform: scale(1.2);
            color: $grey-text;
        }


        @media (max-width: $md3) {
            font-size: 1.5rem;
        }
        @media (max-width: $md2) {
            font-size: 1.4rem;
        }
        @media (max-width: 720px) {
            // burger
        }
    }
}


// .sub-navigation__list {
//     display: none;
//     position: absolute;
//     left: 0;
//     top: 0;
// }

// .sub-navigation__item {

// }

// .sub-navigation__link {
//     color: $grey-text;
// }

// .sub-sub-navigation__list {

// }

// .sub-sub-navigation__item {

// }

// .sub-sub-navigation__link {

// }






// .header {
    
//     &__menu {
//         display: flex;
//        align-items: center;
//        justify-content: space-between;
//        margin-bottom: 20px;
//     }

    
// }

// .navigation {
//     &__list {
//         display: flex;
//     }

    
// }
