// ? <_ FONTS _> =============================================================================================
//// todo <_ font icons _> =====================================================
//@font-face {
//    font-family: "icons";
//	font-display: swap;
//	src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2#icons") format("woff2");
//	font-weight: normal;
//	font-style: normal;
//	font-display: block;
//}
//%ic {
//    font-family: "icons";
//	font-style: normal;
//	font-weight: normal;
//	font-variant: normal;
//	text-transform: none;
//	line-height: 1;
//	-webkit-font-smoothing: antialiased;
//	-moz-osx-font-smoothing: grayscale;
//}

//[class^="_icon-"],
//[class*=" _icon-"] {
//    &:before {
//        @extend %ic;
//		  display: block;
//        font-size: 2rem;
//        color: #000000;
//	}
//}


// todo <_ font import _> =====================================================
//&display=swap&subset=cyrillic-ext


// todo <_ font settings _> =====================================================
$font-family: "gilroy"; 
$font-color: #000; 
$font-size: 14px; 


// todo <_ font style _> =====================================================

// ? <_ FONTS _> =============================================================================================



// ? <_ FONTS LAYOUT _> =============================================================================================

// ? <_ FONTS LAYOUT _> =============================================================================================