// ? <_ FONTS _> =============================================================================================
//// todo <_ font icons _> =====================================================
//@font-face {
//    font-family: "icons";
//	font-display: swap;
//	src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2#icons") format("woff2");
//	font-weight: normal;
//	font-style: normal;
//	font-display: block;
//}
//%ic {
//    font-family: "icons";
//	font-style: normal;
//	font-weight: normal;
//	font-variant: normal;
//	text-transform: none;
//	line-height: 1;
//	-webkit-font-smoothing: antialiased;
//	-moz-osx-font-smoothing: grayscale;
//}

//[class^="_icon-"],
//[class*=" _icon-"] {
//    &:before {
//        @extend %ic;
//		  display: block;
//        font-size: 2rem;
//        color: #000000;
//	}
//}


// todo <_ font import _> =====================================================
//&display=swap&subset=cyrillic-ext

@font-face {
	font-family: 'fractal';
	src: url('../fonts/fractal/ofont.ru_FRACTAL.eot');
	src: local('☺'), url('../fonts/fractal/ofont.ru_FRACTAL.woff') format('woff'), url('../fonts/fractal/ofont.ru_FRACTAL.ttf') format('truetype'), url('../fonts/fractal/ofont.ru_FRACTAL.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'mulish-bold';
	src: url('../fonts/mulish/Mulish-Bold.eot');
	src: local('☺'), url('../fonts/mulish/Mulish-Bold.woff') format('woff'), url('../fonts/mulish/Mulish-Bold.ttf') format('truetype'), url('../fonts/mulish/Mulish-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}


@font-face {
	font-family: 'mulish-light';
	src: url('../fonts/mulish/Mulish-Light.eot');
	src: local('☺'), url('../fonts/mulish/Mulish-Light.woff') format('woff'), url('../fonts/mulish/Mulish-Light.ttf') format('truetype'), url('../fonts/mulish/Mulish-Light.svg') format('svg');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'mulish-regular';
	src: url('../fonts/mulish/Mulish-Regular.eot');
	src: local('☺'), url('../fonts/mulish/Mulish-Regular.woff') format('woff'), url('../fonts/mulish/Mulish-Regular.ttf') format('truetype'), url('../fonts/mulish/Mulish-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'made-likes';
	src: url('../fonts/madelikes/MADE Likes Slab.eot');
	src: local('☺'), url('../fonts/madelikes/MADE Likes Slab.woff') format('woff'), url('../fonts/madelikes/MADE Likes Slab.ttf') format('truetype'), url('../fonts/madelikes/MADE Likes Slab.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}







// todo <_ font settings _> =====================================================
$font-family: "gilroy"; 
$font-color: #000; 
$font-size: 14px; 


// todo <_ font style _> =====================================================

// ? <_ FONTS _> =============================================================================================



// ? <_ FONTS LAYOUT _> =============================================================================================

// ? <_ FONTS LAYOUT _> =============================================================================================