// ?  <_ FORM () _>=============================================================================================
.form {
    &__column {
    }
    &__label {
    }
    &__input {
    }
    &__button {
    }
}
// ?  <_ FORM _>=============================================================================================

// ? <_ BUTTONS _>=============================================================================================
.btn {
	display: inline-flex;
	padding: 0px 0px;
    transition: .2s;

    @media (min-width: $md2+px) {
        &:hover {
            transform: scale(1.1);
        }
        &:active {
            transform: scale(1.05);
        }
    }
}
// ? <_ BUTTONS _>=============================================================================================
