// ?  <_ FORM () _>=============================================================================================
.form {
    &__column {
    }
    &__label {
    }
    &__input {
    }
    &__button {
    }
}
// ?  <_ FORM _>=============================================================================================

// ? <_ BUTTONS _>=============================================================================================
.btn {
    display: inline-flex;
    padding: 21px 26px;
    color: $btn-light;
    border: 2px solid $btn-light;
    background: none;
    font-family: 'fractal';
    font-size: 2.8rem;
    transition: 0.2s;

    
    @media (min-width: $md2) {
        &:hover {
            transform: scale(1.02);
            border: 2px solid $btn-main;
            background: $btn-main;
        }
        &:active {
            transform: scale(1);
        }
    }
}
// ? <_ BUTTONS _>=============================================================================================
