// ? <ПЕРЕМЕННЫЕ>===========================================================================================================
// todo <_ layout size _> =====================================================
$minWidthContainer: 320;
$maxWidthContainer: 1170;


// todo <_ breakpoints _> =====================================================
$md5: 1440;
$md4: 1200;
$md3: 992;
$md2: 768;
$md1: 540;


// todo <_ colors _> =====================================================
$bg-dark: #080808;
$main-text: #080808;
$sec-text: #F1F2F2;
$bg-light: #F1F2F2;
$btn-light: #F1F2F2;
$bg-grey: #B1B4BD;
$btn-main: #B1B4BD;


// ? </ПЕРЕМЕННЫЕ>===========================================================================================================





// ? <_ INSTALL FILE _> =============================================================================================
//
// todo <_ reset _> =========================================================================
//
@import './mixins.scss';

@import './fonts.scss';
@import './forms.scss';
@import './ui.scss';
//
// todo <_ pages _> =========================================================================
//
@import './-home.scss';
//
// todo <_ blocks _> =========================================================================
//
@import './@blocks.scss';
@import './@header.scss';
@import './@footer.scss';
//
// todo <_ reset _> =========================================================================
//
@import './reset.scss';
//
// todo <_ libraries _> =========================================================================
//
//@import './swiper.scss';
// ? <_ INSTALL FILE _> =============================================================================================





// ? <_ MAIN GRID  _> =============================================================================================
.container {
    max-width: $maxWidthContainer + px;
    padding: 0 10px;
	margin: 0 auto;
    
	@media (min-width: $md1+px) { max-width: 435px; }
	@media (min-width: $md2+px) { max-width: 750px; }
	@media (min-width: $md3+px) { max-width: 970px; }
	@media (min-width: $md4+px) { max-width: 1180px; }
	@media (min-width: $md5+px) { max-width: 1366px; }
}
// ? <_ MAIN GRID  _> =============================================================================================



// ? <_ LAYOUT SETTINGS _> =============================================================================================
html {
    font-size: 62.5%;
}

body {
    width: 100%;
	min-height: 100%;

	display: flex;
	flex-direction: column;

    background-color: $bg-light;

    color: $font-color;
    font-size: $font-size;
    font-family: $font-family;

	overflow: hidden;
}

.page {
    flex: 1 1 auto;
}
// ? <_ LAYOUT SETTINGS _> =============================================================================================