// ? <ПЕРЕМЕННЫЕ>===========================================================================================================
// todo <_ layout size _> =====================================================
$min-width-container: 320;
$max-width-container: 1170;

// todo <_ breakpoints _> =====================================================
$md5: 1440px;
$md4: 1200px;
$md3: 992px;
$md2: 768px;
$md1: 540px;

// todo <_ colors _> =====================================================
$bg-dark: #080808;
$main-text: #080808;
$sec-text: #F1F2F2;
$grey-text: #B1B4BD;
$bg-light: #F1F2F2;
$btn-light: #F1F2F2;
$bg-grey: #B1B4BD;
$btn-main: #B1B4BD;

// ? </ПЕРЕМЕННЫЕ>===========================================================================================================

// ? <_ INSTALL FILE _> =============================================================================================
//
// todo <_ reset _> =========================================================================
//
@import "./mixins.scss";

@import "fonts.scss";
@import "./forms.scss";
@import "./ui.scss";
//
// todo <_ pages _> =========================================================================
//
@import "./-home.scss";
//
// todo <_ blocks _> =========================================================================
//
@import "./@blocks.scss";
@import "./@header.scss";
@import "./@footer.scss";
//
//
// todo <_ reset _> =========================================================================
//
@import "./reset.scss";
//
// todo <_ libraries _> =========================================================================



// ? <_ INSTALL FILE _> =============================================================================================

// ? <_ MAIN GRID  _> =============================================================================================
.container {
    max-width: $max-width-container+px;
    padding: 0 10px;
    margin: 0 auto;

    @media (min-width: $md1+px) {
        max-width: 435px;
    }
    @media (min-width: $md2+px) {
        max-width: 750px;
    }
    @media (min-width: $md3+px) {
        max-width: 970px;
    }
    @media (min-width: $md4+px) {
        max-width: 1180px;
    }
    @media (min-width: $md5+px) {
        max-width: 1366px;
    }
}
// ? <_ MAIN GRID  _> =============================================================================================

// ? <_ LAYOUT SETTINGS _> =============================================================================================
html {
    font-size: 62.5%;
}

body {
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;

    background-color: $bg-light;

    color: $font-color;
    font-size: $font-size;
    font-family: $font-family;

    
}

.page {
    flex: 1 1 auto;
}
// ? <_ LAYOUT SETTINGS _> =============================================================================================


.title {
    padding: 6rem 0 8.5rem;
    text-align: center;
    font-family: 'mulish-regular';
    font-size: 6rem;
    color: $font-color;
}

.subtitle {
    margin-bottom: 5rem;
    text-align: center;
    font-family: 'made-likes';
    font-size: 4.8rem;
}